@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/form/_all.sass';

input {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;
  border: 1px solid #009582 !important;
  box-shadow: none !important;
  color: #176173 !important;
  background: #f8faf9 !important;
  &::selection {
    background: #68edcb !important; /* WebKit/Blink Browsers */
  }
  &:focus {
    border: 1px solid #3cad74 !important;
    box-shadow: none;
  }
}
